// Tamaño de media queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktopL: 1440px;

// Fonts sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 24px;
$font-size-xxxlg: 32px;
$font-size-xxxxlg: 48px;

// Fonts weights
$weight-semi-regular: 300;
$weight-regular: 400;
$weight-extra-regular: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;

// Absolute colors
$bg-absolute-white: #ffffff;
$bg-absolute-black: #000000;

// Background colors
$bg-dark-blue: #4d76a714;

$bg-optional-white: #fbfcff;
$bg-second-optional-white: #f1f4f8;

// Buttons colors

// Text colors
$text-dark-blue: #0d171c;
$text-light-blue: #4f7a96;

// Borders colors
$bg-border-light-gray: #d5dadf;
