.layout {
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-areas:
    "Sidebar Content"
    "Sidebar Content"
    "Sidebar Content";

  grid-template-columns: auto 1fr;
  grid-template-rows: auto;

  &__sidebarContainer {
    grid-area: Sidebar;
  }

  &__mainContainer {
    grid-area: Content;
  }
}
