@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as mix;

.home {
  width: 100%;
  height: 100%;
  background-color: v.$bg-absolute-white;

  &__title {
    height: 7.2rem;
    display: flex;
    align-items: center;
    padding: 0 2.4rem;

    h1 {
      @include mix.stylesText(v.$text-dark-blue, v.$font-size-xxxlg, v.$weight-bold, 4rem);
    }
  }

  &__searchBirdBar {
    width: 100%;
    height: 9.6rem;
    padding: 0 2.4rem;
    border-bottom: 1px solid v.$bg-border-light-gray;
    border-top: 1px solid v.$bg-border-light-gray;
    display: flex;
    align-items: center;
  }

  &__birdList {
    width: 100%;
    height: 100%;
    padding: 2.4rem;
  }
}
