@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as mix;

.titleContainer {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  border-bottom: 1px solid v.$bg-border-light-gray;
}
